body {
    font-family: "Helvetica", "sans-serif", "serif";
}
h1, h2, h3 {
    color: white;
}
h3 {
    font-size: medium;
}

p {
    color: white; 
}

a {
    color: hotpink;
}
a:visited {
    color: mediumslateblue;
}