body {
    display: flex;
    background-color: black;
}

#page{
    flex-direction: column;
    max-width: 60ch;
    width: 50ch;
    margin: 0 auto;
}

#mainArticle {
    border: 2px solid white;
    border-radius: 1em;
}