body {
    display: flex;
    background-color: black;
}

#page {
    flex-direction: column;
    margin: auto;
}

#mainArticle {
    border: 2px solid white;
    border-radius: 1em;
    padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
    #page {
        width: 100%;
    }
}